/.vscode
/compileshell
/build
/elephant
/small_test
/confi-old
/hd60.img
/kernel.bin
/loader.bin
/loader-exp.bin
/mbr.bin
/kernel/kernel.bin
/kernel/main.o
/lib/kernel/print.o
/share
/bin
/bochs-2.6.2
/hd80.img